<div class="custom-card card">
  <div class="card-body">
    <h2>Créer un compte</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form' }) do |f| %>
      <%= f.error_notification %>

      <div class="form-group">
        <%= f.input :first_name,
                    label: "Prénom",
                    placeholder: "Pierre",
                    required: true,
                    autofocus: true,
                    input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :last_name,
                    label: "Nom",
                    placeholder: "Dupont",
                    required: true,
                    input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :email,
                    placeholder: "pierre.dupont@gmail.com",
                    required: true,
                    autofocus: true,
                    input_html: { class: 'form-control', autocomplete: "email" } %>
      </div>
      <div class="form-group">
        <%= f.input :password,
                    label: "Mot de passe",
                    placeholder: "******",
                    required: true,
                    hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                    input_html: { class: 'form-control', autocomplete: "mot de passe" } %>
      </div>
      <div class="form-group">
        <%= f.input :password_confirmation,
                    label: "Confirmation de mot de passe",
                    placeholder: "******",
                    required: true,
                    input_html: { class: 'form-control', autocomplete: "mot de passe" } %>
      </div>

      <div class="form-group">
        <%= f.button :submit, "S'inscrire", class: 'btn btn-primary' %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
