<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1471506480208-91b3a4cc78be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8dmVsb3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1>Boojee Bike <strong>Le Vélo</strong> pour <strong>Tous</strong>!</h1>
    <p>Partez à la conquête de l'univers en pédalant</p>
  </div>
</div>

<div class="container">
      <div class="row gap-3 w-75 p-3">
        <% @bikes.each do |bike| %>
        <div class="col-5-5">
          <%= link_to bike_path(bike), class: 'text-decoration-none' do %>
         <div class="card-product">
          <% if bike.photos.present? %>
              <%= cl_image_tag bike.photos.first.key, height: 300, width: 400, crop: :fill %>
          <% else  %>
              <img src="https://pi-pop.fr/wp-content/uploads/2023/05/velo-detoure-1536x1025.jpg" alt="">
          <% end %>
            <div class="product-info">
              <div class="product-details">
                <h2><%= bike.name %></h2>
                <p><%= bike.address %></p>
              </div>
              <div>
                <h2 class="price"><%= bike.price %>/€ par jour</h2>
              </div>
            </div>
          </div>
        <% end %>
        </div>

        <% end %>
      </div>
</div>
