<div class="blue-card">
  <%= form_with(model: @bike, class: "formulaire", url: bikes_path, method: :post) do |form| %>
    <h1 class="blue-text">Mon annonce</h1>
    <div class="section_formulaire">
      <%= form.label :name, "Titre", class: "form-label blue-text italic-text" %>
      <%= form.text_field :name, class: "form-control", required: true %>
    </div>
    <div class="section_formulaire">
      <%= form.label :brand, "Marque", class: "form-label blue-text italic-text" %>
      <%= form.text_field :brand, class: "form-control", required: true %>
    </div>
    <div class="section_formulaire">
      <%= form.label :category, "Catégorie", class: "form-label blue-text italic-text" %>
      <%= form.select :category, options_for_select(["Vélo urbain", "VTT", "Vélo de route"]), { include_blank: "Choisissez une catégorie" }, class: "form-select", required: true %>
    </div>
     <div class="section_formulaire">
      <%= form.label :description, "Description", class: "form-label blue-text italic-text" %>
      <%= form.text_area :description, class: "form-control", rows: 3, required: true %>
      </div>
    <div class="section_formulaire">
    <%= form.label :address, "Ville", class: "form-label blue-text italic-text" %>
    <%= form.text_field :address, class: "form-control", rows: 3, required: true %>
    </div>
    <div class="section_formulaire">
      <%= form.label :accessories, "Accessoire", class: "form-label blue-text italic-text" %>
      <%= form.text_field :accessories, class: "form-control", rows: 3, required: true %>
    </div>
     <div class="section_formulaire">
      <%= form.label :price, "Prix journalier", class: "form-label blue-text italic-text" %>
      <%= form.text_field :price, class: "form-control", rows: 3, required: true %>
    </div>
    <div class="section_formulaire">
      <%= form.label :photos, "Photos", class: "form-label blue-text italic-text" %>
      <%= form.file_field :photos, class: "form-control", multiple: true %>
    </div>
    <%= form.submit "Soumettre", class: "btn btn-primary" %>
  <% end %>
</div>
