<div class="page-container">
    <h1><%= @bike.name %></h1>
    <div class="d-flex justify-content-center align-items-center">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" id="btn-carousel" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" id="btn-carousel" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" id="btn-carousel" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <% @bike.photos.each do |photo| %>
          <div class="carousel-item active justify-content-center">
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
              <h5 class="card-title">Informations sur le vélo</h5>
              <p class="card-text">Categorie : <%= @bike.category %></p>
              <p class="card-text">Description : <%= @bike.description %></p>
              <p class="card-text">Marque : <%= @bike.brand %></p>
              <p class="card-text">Accessoires : <%= @bike.accessories %></p>
              <p class="card-text">Prix : <%= @bike.price %>€ par jour</p>
              <%# <p class="card-text">Proposé par : <%= @user.first_name %> <%# @user.last_name %>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Formulaire de réservation</h5>
            <%= simple_form_for @booking , url: bike_bookings_path(bike_id: @bike.id), method: :post do |f| %>
              <%= f.input :user_id,
                          as: :hidden,
                          input_html: { value: current_user.id } %>
              <%= f.input :start_date,
                          as: :string,
                          label: "Début",
                          input_html: { data: { controller: "datepicker"}}%>
              <%= f.input :end_date,
                          as: :string,
                          label: "Fin",
                          input_html: { data: { controller: "datepicker"}} %>
              <%= f.submit 'Réserver', class:"btn btn-primary" %>
              <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
