<div class="container">
    <h1><%= @bike.name %></h1>
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <% @bike.photos.each do |photo| %>
          <div class="carousel-item active">
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <div class=bikeinformation>
    <h2>Categorie : <%= @bike.category %> </h2>
    <h3>Description</h3>
    <p><%= @bike.description %></p>
    <h3>Marque : <%= @bike.brand %></h3>
    <h3>Accessoires : <%= @bike.accessories %></h3>
    <h3>Proposé par : <%= @user.first_name %> <%= @user.last_name %></h3>

    <div>
    <h2>Formulaire de réservation</h2>
    <%= simple_form_for @booking , url: bike_bookings_path(bike_id: @bike.id), method: :post do |f| %>
    <%= f.input :user_id,
                as: :hidden,
                input_html: { value: current_user.id } %>
    <%= f.input :start_date,
                as: :string,
                label: "Début",
                input_html: { data: { controller: "datepicker"}}%>
    <%= f.input :end_date,
                as: :string,
                label: "Fin",
                input_html: { data: { controller: "datepicker"}} %>
    <%= f.submit 'Réserver', class:"btn btn-primary" %>
    <% end %>
    </div>
    
</div>
 <div class= "recapcontainer">
  <div class= recaplayout>
 <h4>Recapitulatif</h4>
 <div class= "formulary">
 </div>
 <div class= "textlayout"></div><p>Prix journalier: 7€</p>
 <p>Prix total: 8 jours x 7€ = 56€</p>
 <a class="btn btn-flat" href="#">Réserver</a>
</div>
 </div>
